<body style="background-color: #d7fcf2">
  <div class="login-box-body" style="background-color: #d7fcf2">
    <img src="assets/colabs3.jpeg" class="img-responsive mx-auto d-block">
  </div>

  <div class="login-box shadow">
    <div class="login-box-body">

      <h3 class="text-center">Bem vindo ao Colabs, <%= current_user.nome %>!</h1>

      <p class="text-center">Em breve, voltaremos com mais conteúdo.</p>
      <p class="text-center">Você está logado como <%= current_user.email%>. <%= link_to "Deseja sair?", logout_path, method: :delete %></p>

    </div>
  </div>
</body>
