        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Novasdfdsfo Projeto</h4>
      </div>
      <%= form_for @project , local: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control input-lg', placeholder: "Nome do projeto" %>
        </div>
        <div class="form-group">
          <%= f.text_area :desc, class: 'form-control input-lg', placeholder: "Descreva teu projeto" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
