//@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.shadow{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.login-box{
    width: 360px;
    margin: 7% auto;
}

.login-box-body{
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    //border: 1px solid black;
}

.navbar{
    margin-bottom: 20px;
    background-color: #3b7d6b
}

body{
    background-color: #d7fcf2
}
