<div class="text-center" id="membros_projeto">
    <br>
    <ul class="list-group ">
    	<% @membros.each do |m| %>
		    <li class="float-left, background-color: transparent !important userbox">
				<%= m.nome %>
				<%= link_to 'remover', rmuser_path(m),  class: "btn  btn-off" %>
	    <% end %>
	</ul>
	<%= link_to 'Novo membro', new_project_user_path() %>
</div>
