<div class="text-center" id="add_membro">
    <br>
    <br>
    <ul class="list-group ">
    	<% @tmembros.each do |m| %>
		    <li class="float-left, background-color: transparent !important userbox">
			    <%= m.nome %> | 
          <%= link_to 'ADD', adduser_path(m), class: "btn btn-cross", method: :post %>
		    </li>
	    <% end %>
    </ul>
</div>